[color]
  branch = auto
  grep = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[commit]
  gpgsign = true
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  ignorecase = false
[gpg]
  format = ssh
[init]
  defaultBranch = main
[pull]
  ff = only
[push]
  default = simple
[tag]
  gpgsign = true
[user]
  name = Slava Maksimov
  email = hello@slavamak.com
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICnLwojOyRZBr9Hj4urW8h0lbleDIBrOr1ZfWXAzxOCL hello@slavamak.com
[includeIf "gitdir:~/dev/nx/"]
  path = ~/dev/nx/.gitconfig
