[core]
  excludesfile = ~/.gitignore
  editor = nvim
  ignorecase = false
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[user]
  name = Slava Maksimov
  email = hello@slavamak.com
  signingkey = ~/.ssh/id_ed25519.pub
[init]
  defaultBranch = main
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
